img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    text-decoration: none;

    &:hover {
        color: #198754;
    }
}

body {
    font-family: 'Lato', 'Roboto Mono';
    line-height: 1.5;;
}
