.bg-gray-100 {
    background-color: #f8f9fa;
}

.p-12 {
    padding: 12px;
}

.py-6 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.py-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.py-32 {
    padding-left: 32px;
    padding-right: 32px;
}

.p-32 {
    padding: 32px;
}

.pe-32 {
    padding-right: 32px;
}

.px-32 {
    padding-right: 32px;
    padding-left: 32px;
}

.ps-28 {
    padding-left: 28px;
}

.m-32 {
    margin: 32px;
}

.mx-32 {
    margin-left: 32px;
    margin-right: 32px;
}

.fs-7 {
    font-size: 14px;
}

.fs-8 {
    font-size: 12px;
}

.fs-9 {
    font-size: 18px;
}

.fs-10 {
    font-size: 24px;
}

.round-1 {
    border-radius: 2px;
}

.avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.roboto-mono {
    font-family: "Roboto Mono";
}

.form-check-input {
    border-radius: 0;
    width: 18px;
    height: 18px;
}
